* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 120px;
    height: auto;
    border-radius: 20px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 10px;
}

.slogan {
    font-size: 18px;
    color: white;
    font-style: italic;
    margin-top: 10px;
}

/* Nav */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}

nav ul li a.active {
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul a:hover {
    background-color: black;
    border-radius: 5px;
}

/* Form */
form {
    display: flex;
    align-items: center;
}

form input[type="search"] {
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

form input[type="submit"] {
    background-color: black;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #444;
}


/* Sección de Producto Destacado */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(64, 64, 64)
}

section {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 40px;
    text-align: center;
}

.titulo-seccion h2 {
    font-size: 28px;
    color: white;
}

.titulo-seccion p {
    font-size: 18px;
    margin-top: 10px;
    
}

.producto-destacado h2 {
    font-size: 32px;
    color: white;
    margin-bottom: 10px;
}

.producto-destacado p {
    font-size: 18px;
    margin-top: 10px;
}

.productos-destacados h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: white;
}

.productos-destacados p {
    font-size: 18px;
    margin-bottom: 20px;
}

.lista-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.producto {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.producto p {
    font-weight: bold;
}

/* Aside */
aside {
    width: 30%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    
    
}

aside h2 {
    font-size: 24px;
    color: black;
}

aside p {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}

aside ul {
    list-style: none;
    padding-top: 20px;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

aside ul li a:hover {
    color: #444;
}

/* Footer */

footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-media img:hover {
    transform: scale(1.1);
}

.company-info p,
.legal p {
    margin: 5px 0;
}

.legal a {
    color: #00bfff;
    text-decoration: none;
}

.legal a:hover {
    text-decoration: underline;
}


footer p {
    font-size: 14px;
}

/* Media Queries */
@media (max-width: 991px) {
    header, nav, main, footer {
        width: 100%;
    }

    /* Header adjustments */
    header {
        text-align: center;
    }

    .logo {
        width: 80px;
    }

    h1 {
        font-size: 40px;
    }

    /* Main Section adjustments */
    .product-list {
        justify-content: space-evenly;
    }

    .product-item {
        width: 45%;
    }

    /* Aside adjustments */
    aside {
        width: 100%;
        margin-top: 30px;
    }
}

@media (max-width: 580px) {

        
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column; 
        gap: 10px; 
    }

    form {
        margin-top: 10px;
    }

    main {
        flex-direction: column;
    }

    .product-list {
        flex-direction: column;
    }

    .product-item {
        width: 100%;
    }

    footer {
        padding: 20px;
    }
}




