<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./../../favicon.png.png" type="image/x-icon">
    <link rel="stylesheet" href="./../../css/Productos/jeans_skinny_fit.css">
    <title>Jeans skinny fit </title>
</head>
<body>
    <header>
        <img src="./../../assets/images/logo4.png" alt="Logotipo" width="1024" height="1024" class="logo">
        <h1>Jeans Skinny Fit</h1>
    </header>
    <nav>
        <ul>
            <li><a href="./../../index.html">Inicio</a></li>
            <li><a href="./../../views/productos.html" class="active">Productos</a></li>
            <li><a href="./../../views/presupuesto.html">Presupuesto</a></li>
            <li><a href="./../../views/contacto.html">Contacto</a></li>
        </ul>
        <form>
            <input type="search" placeholder="Buscar">
            <input type="submit" value="Buscar">
        </form>
    </nav>
    <main>
        <section class="galeria">
            <h2 class="titulo-seccion">jeans skinny fit</h2>
            <article class="producto">
                <img src="./../../assets/images/jeans1.jfif" alt="Jeans Skinny fit" width="474" height="708">
                <h3>jeans skinny fit</h3>
                <p class="precio">$15.99</p>
            </article>
            <article class="producto">
                <img src="./../../assets/images/jeans2.webp" alt="Jeans Skinny fit" width="1810" height="1689">
                <h3>jeans skinny fit</h3>
                <p class="precio">$15.99</p>
            </article>
            <article class="producto">
                <img src="./../../assets/images/jeans3.jfif" alt="Jeans Skinny fit" width="474" height="708">
                <h3>jeans skinny fit</h3>
                <p class="precio">$15.99</p>
            </article>
            <article class="producto">
                <img src="./../../assets/images/jeans4.jfif" alt="Jeans Skinny fit" width="800" height="1200">
                <h3>jeans skinny fit</h3>
                <p class="precio">$15.99</p>
            </article>
            <article class="producto">
                <img src="./../../assets/images/jeans5.jfif" alt="Jeans Skinny fit" width="474" height="474">
                <h3>jeans skinny fit</h3>
                <p class="precio">$15.99</p>
            </article>
            <article class="producto">
                <img src="./../../assets/images/jeans6.jfif" alt="Jeans Skinny fit" width="474" height="640">
                <h3>jeans skinny fit</h3>
                <p class="precio">$15.99</p>
            </article>
            <article class="producto">
                <img src="./../../assets/images/jeans7.jfif" alt="Jeans Skinny fit" width="473" height="632">
                <h3>jeans skinny fit</h3>
                <p class="precio">$15.99</p>
            </article>
            <article class="producto">
                <img src="./../../assets/images/jeans8.jfif" alt="Jeans Skinny fit" width="265" height="396">
                <h3>jeans skinny fit</h3>
                <p class="precio">$15.99</p>
            </article>
            <article class="producto">
                <img src="./../../assets/images/jeans9.jfif" alt="Jeans Skinny fit" width="270" height="270">
                <h3>jeans skinny fit</h3>
                <p class="precio">$15.99</p>
            </article>
            <article class="producto">
                <img src="./../../assets/images/jeans10.jfif" alt="Jeans Skinny fit" width="474" height="474">
                <h3>jeans skinny fit</h3>
                <p class="precio">$15.99</p>
            </article>
            <article class="producto">
                <img src="./../../assets/images/jeans11.jpg" alt="Jeans Skinny fit" width="1340" height="1785">
                <h3>jeans skinny fit</h3>
                <p class="precio">$15.99</p>
            </article>
            <article class="producto">
                <img src="./../../assets/images/jeans12.jfif" alt="Jeans Skinny fit" width="405" height="538">
                <h3>jeans skinny fit</h3>
                <p class="precio">$15.99</p>
            </article>
        </section>
        <aside>
            <img src="./../../assets/images/modelo12.jfif" class="foto" alt="Hombre elegante" width="474" height="711">
        </aside>
    </main>
    <footer>
        <div class="footer-content">
            <!-- Redes Sociales -->
            <div class="social-media">
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                    <img src="./../../assets/images/facebook.jfif" alt="Facebook" width="172" height="180">
                </a>
                <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
                    <img src="./../../assets/images/twitter.jfif" alt="Twitter" width="177" height="180">
                </a>
                <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                    <img src="./../../assets/images/instragram.jfif" alt="Instagram" width="474" height="266">
                </a>
            </div>
            
            <!-- Dirección -->
            <div class="company-info">
                <p>Dirección: Calle Ejemplo 123, Ciudad, País</p>
                <p>Teléfono: +123 456 789</p>
                <p>Email: contacto@ejemplo.com</p>
            </div>
            
            <!-- Aviso legal -->
            <div class="legal">
                <p>&copy; 2024 Empresa Ejemplo. Todos los derechos reservados.</p>
                <a href="./../../views/avisolegal.html" target="_blank">Aviso Legal</a>
            </div>
        </div>
    </footer>
</body>
</html>